@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased min-h-screen font-inter transition-colors duration-500;
  }
  #root {
    @apply min-h-screen flex justify-center items-center w-full;
  }
}

/* Optional: Hide scrollbar but keep functionality for dropdown */
.dropdown-container::-webkit-scrollbar {
  width: 6px;
}
.dropdown-container::-webkit-scrollbar-track {
  background: transparent;
}
.dropdown-container::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}
.dark .dropdown-container::-webkit-scrollbar-thumb {
  background-color: #475569;
}
